
.navbar {
    width: 100%;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    padding-left: 5px;
    border-bottom: 1px solid #aaaaaa;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
*nav ul li a:hover{
    color: rgb(157, 249, 246)3, 226;
}
.Logo{
    width: 105px;
    height: 120px;
}

.layer1 {
    height: 300px;
    margin-top: 15px;
    background-color: rgba(57, 178, 152, 0.655);
}
.H1 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 40px;
    padding-right: 60px;
    margin: 0%;
}
.Bloemroze{
  padding-left: 280px;
  
}
.Homeimg {
 width: 50%;
 height: 33%;
 position: absolute;
 bottom: 130px;
 right: 20px;
 border-radius: 20%;
 z-index: 99;

}
.H2{
  position: absolute;
  top: 100px;
  left: 5px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.container2{
    position: relative;
    text-align: center;
}
.bottomimg{
width: 100%;
margin-top: 40px;
background-image: url(images/wave1.png);
}

.layer2 {
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}
.Bloem1{
    margin-left: 40px;
}
.Blad{
    width: 60px;
    height: 90px;
}
.H3{
    font-size: 20px;
    font-weight: 600;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}
.P1{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 16px;
}

.layer3 {
    height: 440px;
    background-color: rgb(151, 213, 175);
    border-radius: 20%;
    margin-bottom: 30px;
    box-shadow: 5px 5px #8e8e8e;
}
.H4{
    font-size: 20px;
    font-weight: 600;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    text-align: center;
}
.P2{
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.P3 {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.P4 {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.layer4 {
    height: 120px;
    background-color: rgb(206, 241, 247);
}
.Socialmedia{
   margin-top: 70px;
   margin-left: 190px;
}

.layer1p2{
    height: 420px;
    background-color: rgba(57, 178, 152, 0.655);
}
.Hoed{
    width: 45%;
    position: absolute;
    top: 150px;
    left: 20px;
    border-radius: 20%;
}
.Patches{
    width: 45%;
    height: 35%;
    position: absolute;
    bottom: 105px;
    right: 20px;
    border-radius: 20%;
    z-index: 99;
}
.DIY{
    font-size: 22px;
    font-weight: 600;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}


.Tips{
    font-size: 22px;
    font-weight: 600;
    padding-left: 190px;
}
.layer2p2{
    height: 750px;
    background-color: antiquewhite;
    margin-top: 90px;
    border-radius: 15%;
    margin-bottom: 80px;
}
.Bloemblauw{
margin-left: 20px;
}
.Tip1{
    font-size: 22px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
.stap1{
    font-size: 24px;
    font-weight: 600;
    margin-left: 150px;
}
.P12{
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;

}
.stap2{
    font-size: 24px;
    font-weight: 600;
    margin-left: 150px;

}
.stap3{
    font-size: 24px;
    font-weight: 600;
    margin-left: 150px;
}
.gallery{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}
.gallery-item{
    text-align: center;
    max-width: 80px;
}

.gallery img{
    max-width: 100%;
    border-radius: 10%;
    
}
.gallery .description{
    margin-top: 10px;
}
.layer3p2{
    height: 500px;
    margin-top: 60px;
    border-radius: 15%;
    background-color: rgb(151, 213, 175)
}

.Tip2{
    font-size: 22px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0%;
    text-align: center;
}
.stap12{
margin-left: 20px;
font-size: 24px;
font-weight: 600;
}
.stap22{
margin-left: 20px;
font-size: 24px;
font-weight: 600;
}
.stap32{
margin-left: 20px;
font-size: 24px;
font-weight: 600;
}
.BloemR{
    margin-left: 290px;
}
.Bladblauw{
    margin-left: 30px;
    margin-top: 80px;
}
.BlazerBe{
    width: 35%;
    height: 25%;
    position: absolute;
    right: 20px;
    border-radius: 20%;
}
.P13{
    margin-left: 10px;
    margin-right: 40px;
}
.layer4p2{
    height: 120px;
    background-color: rgb(206, 241, 247);
    margin-top: 80px;
}
.container3{
    position: relative;
    text-align: center;
}
.H1An {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 23px;
}
.Wave2{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-image: url(images/Wave2.png);
}
.interviewH{
    position: absolute;
    top: 90px;
    font-size: 19px;
}
.InterviewFoto{
    width: 35%;
    height: 25%;
    position: absolute;
    bottom: 200px;
    right: 20px;
    border-radius: 20%;
    z-index: 99;
}
.Cowboy{
    bottom: 100px;
    left: 20px;
}
.layer2p3{
    height: 700px;
    margin-top: 50px;
    background-color: rgba(57, 178, 152, 0.655);
}
.Vraag{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 30px;
   
}
.Pi{
    margin-left: 20px;
    margin-top: 30px;

}
.layer33{
height: 400px;
background-color: rgb(151, 213, 175);
border-radius: 20%;
margin-bottom: 30px;
margin-top: 100px;
box-shadow: 5px 5px #8e8e8e;
}
.BlazerGlitter{
    width: 40%;
    height: 50%;
    margin-left: 35px;
    margin-top: 100px;
    border-radius: 10%;
}
.HoedAn{
    width: 40%;
    height: 50%;
    border-radius: 10%;
}